.navbar-navy {
  background-color: #001f3f;
}
.navbar-navy .navbar-brand,
.navbar-navy .nav-link {
  color: #fff !important;
}
.navbar-navy .nav-link:hover {
  color: #66b2ff !important;
}

.nav-profile-img {
  width: 32px;
  height: 32px;
  filter: invert(1);
}